
body{
    background-image: url(background.jpg);
}




nav ul  {
    background-color:#4a4a4a;
    margin-bottom: 20px;
}

nav ul li {

    text-align: center;
    padding: 20px;
    font-size: xx-large;
    color: rgba(255, 255, 255, 0.788);
}


main {
    /* width: 100%; */
    display: flex;

}




.form{
    text-align: center;
    
    background-color:#a3a3a3;
    height: 300px;
    /* display: block; */
}
label{
    display: block;
}

.table{
    background-color: #a3a3a3;
    margin: 100px;
  
}



